body {
    background: white;
    font-family: 'Quicksand', sans-serif;
}

a {
    color: #f65282;
}

.weather-container {
    background: #dfcdc3;
    max-width: 600px;
    margin: 50px auto;
    padding: 25px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 10px;
}

header {
    border-bottom: 1px solid #f9f7fe;
    padding: 25px 0;
}

.search-bar-input {
    background-color: #f9f2fe;
    border: none;
    border-radius: 5px;
    width: 80%;
    padding: 17px;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

.search-bar-btn {
    background-color: #719192;
    border: none;
    border-radius: 5px;
    padding: 17px;
    margin-left: 5px;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

main {
    padding: 20px 0;
}

.current-city-location {
    margin: 0;
    font-size: 35px;
    line-height: 50px;
}

.city-weather-data {
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-weight: 500px;
}

.city-weather-data strong {
    color: #f65282;
    opacity: 100;
}


.current-city-details {
    font-size: 46px;
    display: flex;
}

.weather-icon {
    width: 80px;
    height: 80px;
    position: relative;
    bottom: -23px;
}

.city-temperature {
    font-size: 75px;
    margin-left: 15px;
    position: relative;
    bottom: -15px;
}

.temperature-unit {
    font-size: 28px;
    position: relative;
    top: 10px;
    right: -2px;
}

.weather-app-forecast {
    display: flex;
    justify-content: space-between;
}

.weekly-weather-forecast {
    color: black;
    text-align: center;
}

.weekly-forecast-days {
    font-size: 13px;
}

.weather-forecast-icon {
    padding: 11px;
}

.weather-forecast-temperatures {
    font-size: 13px;
}

.forecast-temperature-max {
    opacity: 75%;
}

footer {
    border-top: 1px solid #f9f7fe;
    padding: 15px 0;
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}